[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "IndTestPP"]
	path = IndTestPP
	url = https://github.com/cran/IndTestPP
[submodule "NHPoisson"]
	path = NHPoisson
	url = https://github.com/cran/NHPoisson
